[Unit]
Description=Raspberry PI server to control arduino led strip
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/smart_led --config /etc/smart_led/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
